<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Mr. Peedy Eff</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content padding>
    <ion-grid>

      <ion-row>
        <ion-col offset-lg="2" size-lg="8">
          <h2>URL Inputs</h2>
          <ion-text>Enter URLs on separate lines and submit to see see PDF metadata below. Alternatively, you may visit the URL directly or curl from your terminal.</ion-text>
          <ion-item>
            <ion-label position="stacked">Enter URLs on separate lines</ion-label>
            <ion-textarea id="urlsInput" placeholder="https://en.wikipedia.org/wiki/Use-mention_distinction"></ion-textarea>
          </ion-item>
          <ion-button type="button" id="submitUrls">Submit URL(s)</ion-button><br>
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h4>Endpoint URL</h4>
              </ion-text>
              <ion-text color="medium">
                <span id="endpointUrl">http://localhost:3000/pdf_metadata?urls[]=</span>
              </ion-text>
            </ion-label>
            <ion-icon class="clickable" id="copyEndpointUrl" name="copy" slot="end"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-text color="primary">
                <h4>cURL Command</h4>
              </ion-text>
              <ion-text color="medium">
                <span id="curlCommand">curl "http://localhost:3000/pdf_metadata?urls[]="</span>
              </ion-text>
            </ion-label>
            <ion-icon class="clickable" id="copyCurlCommand" name="copy" slot="end"></ion-icon>
          </ion-item>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset-lg="2" size-lg="8">
          <h2>JSON Results</h2>
          <pre><span id="jsonResults">Submit URLs to see results.</span></pre>
        </ion-col>
      </ion-row>

    <ion-grid>
  </ion-content>
  <ion-loading-controller></ion-loading-controller>
  <span id="requestInfo" data-request-info="<%= request.protocol + request.host + (request.host.include?("localhost") ? (":" + request.port.to_s) : "") %>">
</ion-app>


