<!DOCTYPE html>
<html>
  <head>
    <title>Mr. Peedy Eff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
    <link href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css" rel="stylesheet">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="<%= params[:controller] %>">
    <%= yield %>
    <ion-toast-controller></ion-toast-controller>
  </body>
</html>
